*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}
.container{
  margin-bottom: 50px;
}

.logo{
  height: 45px;
}

.nav-item{
  padding: 0px 20px;
}

.btn{
  border-radius: 20px;
  padding: 0px 22px;
  color: #FFFFFF;
  background-color: #21B573;
}

#nab-bar{
  position: sticky;
  top:0 ;
  z-index: 10;
}

.indianred-highlight{
  color: #21B573;
}
.text-color{
  color: red;
}
.link-button{
  color: white;
  text-decoration: none;
  background-color:#21B573;
  padding: 8px 23px;
  border-radius: 20px;
  font-weight: 700;
}

#top_banner{
  background-color: #21B573;
}



#categories{
  padding: 80px 0px;
}

.cata-img{
  width: 85px;
  margin-top: 20px;
}
.categories{
  padding: 20px;
  background-color: #F8FFFB;;
}

.categories h4{
  padding: 5px;
  margin-top: 25px;
}
#course h1{
  text-align: center;
  margin-bottom: 60px;
}

.card{
  border: none;
  box-shadow: 5px 5px 10px rgb(72, 79, 82);
  border-radius: 15px;
}

.card-footer{
  border-top: none;
background-color: white;
}

.card-footer img{
  height: 20px;
  display: inline-block;
}
.card-footer p{
  font-size: x-small;
  display: inline;
}

#me h1{
  text-align: center;
  padding: 50px;
}
.img-f{
  height: 130px;
}
#footer{
  background-color: #282531;
}
.last-text{
  color: #F8FFFB;
  padding: 30px 50px;
}

ul li{
  list-style-type: none;
}

footer{
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 10px;
}


